*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    z-index: 1;
    position: absolute;
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    position: absolute;
    padding: 20px 0;
    border-bottom: 1px dashed #7f7f7f;
    height: 50px;
    width: 100%;
    background-color: rgba(12, 5, 5, 0.788);
}
.contact-no{
    margin-left: 120px;
    color: white;
}
.icon > a{
    /* border-radius: 50%;
    border: 2px solid white; */
    padding: 6px 0px;
    margin-left: 18px;
    float: right;
    position: relative;
    right: 60px;
    bottom: 11px;
    color: white;
}
.contact{
    color: white;
    font-family: cabin,sans-serif;
    font-size: 13px;
    margin-left: 20px;
}

@media only screen and (min-width: 561px) and (max-width: 767px) {
    .contact-no{
        margin-left: 10px;
    }
    .contact{
        margin-left: 10px;
    }
}
@media(max-width: 562px){
	header .icon {
        display: none;
    }
    .contact-no{
        margin-left: 10px;
    }
    .contact{
        margin-left: 10px;
    }
}
@media only screen and (min-width: 288px) and (max-width: 460px) {
    .contact-no{
        margin-left: 10px;
        font-size: 12px;
    }
}
